<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account</title>
    <%- include partials/head.ejs %>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:6969');

      socket.emit('event1', {'type': 'data'} );
      socket.emit('event2', {'type': 'data'} );
      
    </script>

  </head>
  <body>
    
    <div> Hello World! </div>

    <%- include partials/scripts.ejs %>

  </body>
</html>
