.App {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  text-align: center;
}
.gridChild{
  display: grid;
}

.error{
  color: red;
}
.nav-title{
  font-size: 1.5em;
  text-align: center;
  color: grey;
}
.text-stuff{
  text-align: center;
}
.main{
  height: 100vh;
}
.participants{
  font-size: 2em;
}